<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo" style="text-decoration: none;">
      {% if site.logo %}
      <div class="d-flex align-items-center" style="padding-top: 11px;">
        <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}"
             style="margin-top: 0;">
        <h4 style="margin: 0;">{{ site.title }}</h4>
      </div>
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for page in site.pages %}
          {% if page.title and page.main_nav != false %}
          <li class="nav-link"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
